<h1>Dream#index</h1>
<div class="container">
<div id="dream-list"></div>
<div id="dream-form">
  <!--input type="text" id="dream-text-field"-->
  <!--button id="submit-dream">Dream Big!</button-->
  <br>
  <button id="submit-refresh">Refresh!</button>
</div>
</div>

<script type="text/javascript">
$(function () {
  var dreamListEl = $('#dream-list');
  var dreamsView = new DS.DreamView(dreamListEl);
  var dreamRefreshButtonEl = $('#submit-refresh');
  var dreamIndexView = new DS.DreamIndexView(
    dreamRefreshButtonEl,
    dreamsView
  ).bind();


  DS.Dream.refresh();
});
</script>