<h1>Dream#index</h1>
<div class="container">
<div id="dream-list"></div>
<div id="dream-form">
  <input type="text" id="dream-text-field">
  <br>
  <button id="submit-dream">Dream Big!</button>
  <button id="submit-refresh">Refresh!</button>
</div>
</div>

<script type="text/javascript">
$(function () {
 //$('dropdown').dropdown();

  var dreamListEl = $('#dream-list');
  var dreamRefreshButtonEl = $('#submit-refresh');
  var dreamsView = new DS.DreamView(dreamListEl);

  var dreamFieldEl = $('#dream-text-field');
  var dreamBigButtonEl = $('#submit-dream');
  var dreamIndexView = new DS.DreamIndexView(
    dreamRefreshButtonEl,
    dreamsView
  ).bind();

  var dreamsForm = new DS.DreamFormView(
    dreamsView,
    dreamFieldEl,
    dreamBigButtonEl,
    function (newDream){
      return newDream.save(dreamsView);
    }
  ).bind();


  DS.Dream.refresh(dreamsView);
});
</script>
