@import "bootstrap";

/* universal */

html {
//  overflow-y: scroll;
//  overflow-x: scroll;
}

body {
  padding-top: 60px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('todo2.jpg')
}
#container {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    background-color: pink;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.inline {
  display :inline;
  padding-right: 10px;
}

button {
  margin-right: 10px;
  margin-left: 10px;
}

.dropDownThemes {
  margin-left: 80px;
}

.dropDownItem {
  color:blue;

  padding-left:25px;

  cursor:hand;

}

.dropDownItem:hover {
  color:white;
  background:blue;
  padding-left:25px;
  cursor:hand;

}

.dream-name-text:hover {
  color:white;
  background:blue;
};

#item-input-field {
  margin-left: 10px;
  margin-top: 5px;

}

.dropdown-menu li:hover {
  color:white;
  background:blue;
};