td {
  width: 200px;
  background-color: #bbbbbb;
  cursor:hand;
}

.disk {
background : #99F;
display : block;
border : #000 solid 1px;
margin : auto;
height : 2em;
border-radius : 1em;
}

.tower ol {
list-style-type : none;
list-style-image : none;
list-style-position : outside;
margin-top : 2em;
padding : 1em;
}

.tower > ol > li {
height : 2em;
margin-bottom : 0;
padding-bottom : 1px;
text-align : center;
}

.tower {
float : left;
width : 33%;
}